@import "./abstracts/variables";

@import "./base/reset";

@import "./layout/footer";
@import "./layout/header";
@import "./layout/layout";
@import "./layout/moMenu";

@import "./pages/index-benefits";
@import "./pages/index-character";
@import "./pages/index-faq";
@import "./pages/index-main";
@import "./pages/index-nft";
@import "./pages/index-remaining";
@import "./pages/index-roadmap";
@import "./pages/index-story";

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");

.main-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  margin: unset;

  .bg {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: .35s ease-in-out;

    &.main-background {
      background-image: url('../images/index-sections/main-bg.jpg');
    }

    &.nft-background {
      background-image: url('../images/index-sections/nft-bg.jpg');
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom center;
  }

  .bg-dark {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.3;
  }
}
